.login-body .login-content img {
	display: inline-block;
	margin-bottom: 160px;
	max-width: 150px;
	max-height: 130px;
	width: auto;
	height: auto;
}

@media screen and (min-width: 992px) {
	.login-body {
		background:
			url("#{resource['tesis:images/Fondo.png']}");
		background-size: cover;
	}
	.login-body .login-content img {
		max-width: 200px;
		max-height: 150px;
	}
}

.layout-ajax-loader .layout-ajax-loader-background{
	width: 100%;
    height: 100%;
	background: rgba(0, 0, 0, 0.13);
	position: fixed !important;
    right: 0px !important;
    bottom: 0px !important;
    z-index:2000;
}

.layout-ajax-loader .layout-ajax-loader-icon {
    color: #FF9800;
    font-size: 32px;
}

.layout-ajax-loader-icon {
	position: fixed;
    right: 50%;
    bottom: 50%;
}